html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    font-family:"Maven Pro", sans-serif;
}
.boxes {
    width: 100px;
    height: 100px;
    border:1px solid #FFFFFF;
    float:left;
    text-align: center;
    vertical-align: middle;
    font-size: 100;
}
.block {
    width: 306px;
    height: 102px;
}
.pink {
    background: #ee3e64;
}
.blue {
    background: #44accf;
}
.green {
    background: #b7d84b;
}
.gamebutton {
    display:inline;
    color:#000000;
    border-radius: 2px;
    padding:3px;
    margin:0px 0px 5px 0px;
}
.gamebutton:hover {
    background: #373C5A;
    cursor: hand;
    cursor: pointer;
    color:#FFFFFF;
}
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 306px;
    height:306px;
    background-color: blue;
    z-index:2;
    opacity:0.4;
    filter: alpha(opacity=50);
}
.timer{
    text-align: left;

}

.score_column{
    float:left;
    width:150px;
    border:1px solid #000000;
    text-align:center;
    height: 306px;

}


.blink_cell 
{
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;      
    background: url('atat-skull.png') left center no-repeat;
    width: 186px;
	height: 123px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 300; 
}

@-webkit-keyframes blink{
	 0% {
        -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0);
		-moz-box-shadow:  0px 0px 0px rgba(0,0,0,0);
		box-shadow: 0px 0px 15px rgba(0,0,0,0);
    }
    50% {
       -webkit-box-shadow: 0px 0px 15px rgba(74, 107, 130, 0.89);
		-moz-box-shadow: 0px 0px 15px rgba(74, 107, 130, 0.89);
		box-shadow: 0px 0px 15px rgba(74, 107, 130, 0.89);
    }
   
    100% {
        -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0);
		-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0);
		box-shadow: 0px 0px 15px rgba(0,0,0,0);
    }
	
}
