html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    font-family:"Maven Pro", sans-serif;
}
.boxes {
    width: 100px;
    height: 100px;
    border:1px solid #FFFFFF;
    float:left;
    text-align: center;
    vertical-align: middle;
    font-size: 100;
}
.block {
    width: 306px;
    height: 102px;
}
.pink {
    background: #ee3e64;
}
.blue {
    background: #44accf;
}
.green {
    background: #b7d84b;
}
.gamebutton {
    display:inline;
    color:#000000;
    border-radius: 2px;
    padding:3px;
    margin:0px 0px 5px 0px;
}
.gamebutton:hover {
    background: #373C5A;
    cursor: hand;
    cursor: pointer;
    color:#FFFFFF;
}
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 306px;
    height:306px;
    background-color: blue;
    z-index:2;
    opacity:0.4;
    filter: alpha(opacity=50);
}

.timer{
    text-align: left;
    position: relative;
    top: 35px;
    left: 108px;
    width: 90px;
    height: 80px;
    background-color: blue;
    z-index: 2;
    opacity: 0.4;
    filter: alpha(opacity=50);
    border-radius: 20px;

}

.timer_text{
    position: relative; 
    top: -85px; 
    left: 108px; 
    width: 90px; 
    height: 80px; 
    color: #000000;
    font-weight: bold;
    font-size: 25px;

}

.score_column{
    float:left;
    width:50%;
    
    text-align:center;
    height: 150px;

}


.blink_cell 
{
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;      
     border: 1px solid #000000;
}

@-webkit-keyframes blink{
	 0% {
        -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0);
		-moz-box-shadow:  0px 0px 0px rgba(0,0,0,0);
		box-shadow: 0px 0px 15px rgba(0,0,0,0);
    }
    50% {
       -webkit-box-shadow: 0px 0px 15px rgba(74, 107, 130, 0.89);
		-moz-box-shadow: 0px 0px 15px rgba(74, 107, 130, 0.89);
		box-shadow: 0px 0px 15px rgba(74, 107, 130, 0.89);
    }
   
    100% {
        -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0);
		-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0);
		box-shadow: 0px 0px 15px rgba(0,0,0,0);
    }
	
}

.score_paper{
    background: #F0F0F0;
    -webkit-border-bottom-right-radius: 500px 30px;
    -webkit-border-top-right-radius: 5px 100px;
    -moz-border-radius-bottomright: 500px 30px;
    -moz-border-radius-topright: 5px 100px;
    border-radius-bottomright: 500px 30px;
    border-radius-topright: 5px 100px;
    background: -webkit-gradient( linear, left top, left bottom, from(#81cbbc), color-stop(5%, rgb(245, 245, 245)) );
    -webkit-background-size: 100% 20px;
    height: 160px;
    width:306px;
    float:left;
    text-align: center;

}
.score_number{

    height: 120;
    font-size: 100px;
    font-weight: 100;
}

.win_boxes{
    width: 100px;
    height: 100px;
    border:1px solid #000000;
    float:left;
    text-align: center;
    vertical-align: middle;
    font-size: 100;   
}

.message_board{

 overflow-y:scroll;   
 height: 125px;  
 width: 306px;
 
 background: -webkit-gradient( linear, left top, left bottom, from(#81cbbc), color-stop(5%, rgb(245, 245, 245)) );
-webkit-background-size: 100% 20px;
 border-radius: 3px;

}
.message_board_title{
    border: 1px solid #f3efc3;
    border-radius: 3px;
    background: #f3efc3;
    height: 20px;
}

#errorDiv::-webkit-scrollbar {
    width: 10px;
    }
#errorDiv::-webkit-scrollbar-track {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
    }
#errorDiv::-webkit-scrollbar-thumb {
    background: #222;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    }
#errorDiv::-webkit-scrollbar-thumb:hover {
    background: #AAA;
    }
#errorDiv::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    }


